---
title: Articles
display-title: true
active: true
ref: articles
isotope: true
style: style1
img:
imgalt:
front-page: true
layout: simple_default
permalink: /articles
---
<div class="button-group text-center">
    <div class="filter" role="group">
        <button class="active button" data-filter="*">All</button>
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}
          <button class="button" data-filter=".{{ tag[0] | slugify }}">{{ tag[0] }}</button>
        {% endfor %}
    </div>
</div>

<div class="all-portfolios"><!-- used by isotope -->
  {%- assign count = 0 -%}
  {% for post in site.posts %}
{% capture tags %}{% for tag in post.tags %}{{ tag | slugify }} {% endfor %}{% endcapture %}


{% if count == 0 -%}
  <div class="grid">
{%- endif -%}
    <div class="single-portfolio {{ tags }}">
        <article>
          <header><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></header>
          {% for tag in post.tags %}
          <span class="tag-link">{{ tag }}</span>
          {% endfor %}<br />
          <!--<span class="small">Posted: {{ post.date | date_to_long_string }}</span>-->
        </p>
    </div>

  {%- assign count = count | plus:1 -%}
  {%- if count == 2 -%}
  {%- assign count = 0 -%}
  </div> <!-- end of row -->
  {%- endif -%}
    {% endfor %}

    </div> <!-- end of all-portfolio div -->



<!--<div class="row article-grid">

  {% for post in site.posts %}
{% capture tags %}{% for tag in post.tags %}{{ tag | slugify }} {% endfor %}{% endcapture %}

  <div class="article-item {{ tags }} col-4 col-12-xsmall col-6-small ">
    <article>
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
        {% for tag in post.tags %}
        <span class="tag-link"><a href="{{ tag | slugize }}">{{ tag }}</a></span>
        {% endfor %}
      </p>

    </article>



    </div>
    {% endfor %}
  </div>-->




<!--
<div class="row">
{% assign count = 0 %}
  {% for tag in site.tags %}
    {% assign count = count | plus: 1 %}
  <div class="col-4 col-12-xsmall col-6-small">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>


    <h3 class="tag-head">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in tag[1] limit:4 %}
    <article class="archive-item">
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></p>

    </article>
    {% endfor %}
  </div>

  {% if count == 3 %}</div><div class="row">{% assign count = 0 %}{% endif %}
{% endfor %}

</div>-->
<ul class="actions">
  <li><a href="/contact" class="l6 button scrolly primary">Get in touch</a></li>
</ul>
