---
title: Toolkit
layout: simple_default
permalink: /toolkit
active: true
isotope: true
display-title: false
ref: lessons
style: style1
img:
imgalt:
front-page: true
---
{%- assign count = 0 -%}
{% for tool in site.toolkit %}
{%- if count == 0 -%}
<div class="grid">
    {%- endif -%} 

    <div>
        <article class="tool">
            <header><h2><a href="{{ tool.url }}">{{ tool.title }}</a></h2></header>
            <p class="category-tag">{{ tool.category }}</p>
            <p>{{ item.description }}</p>
            <div><img src="/assets/img/page-images/{{ tool.img }}" alt="{{ tool.img-alt }}" /></div>
        </article>
    </div>

    {%- assign count = count | plus:1 -%}
    {%- if count == 3 -%}
    {%- assign count = 0 -%}
    </div>
    {%- endif -%}
    {%- endfor -%}
    {%- if count == 1 or count == 2 -%}    
    </div>
    {%- endif -%}
<!--
<div class="button-group text-center">
    <div class="filter" role="group">
        <button class="active button" data-filter="*">Show all</button>
        {%- assign tools-by-category = site.toolkit | group_by: "category" -%}
        {%- for category in tools-by-category -%}
        
          <button class="button" data-filter=".{{ category.name | slugify }}">{{ category.name }}</button>
        {% endfor %}
    </div>
</div>-->

<div class="all-portfolios"><!-- used by isotope -->
 <!--   {%- assign count = 0 -%}
  {% for tool in site.toolkit %}
  {%- if count == 0 -%}
  <div class="grid">
  {%- endif -%} 
    <div class="single-portfolio {{ tool.category | slugify }}">
        <article>
            <h2><a href="{{ tool.url }}">{{ tool.title }}</a></h2>
            <p class="category-tag">{{ tool.category }}</p>
            <p><small>{{ tool.description }}</small></p>
            
            <div><a href="{{ tool.url }}"><img src="/assets/img/page-images/{{ tool.img }}" alt="{{ tool.img-alt }}" /></a></div>
        </article>
    </div>

{%- assign count = count | plus:1 -%}
{%- if count == 3 -%}
{%- assign count = 0 -%}
</div>
{%- endif -%}
{%- endfor -%}
{%- if count == 1 or count == 2 -%}    
</div>
{%- endif -%}
-->

    </div> <!-- end of all-portfolio div -->
