---
title: Home
layout: simple_home
---
		<!-- Wrapper -->
			<div id="wrapper">
				{% for page in site.pages %}
				{% if page.front-page %}
				<!-- {{ section.name }}-->
				<section tabindex="-1" id="{{ page.ref }}" class="wrapper {{ page.style }}">
					{% if page.style contains "spotlights" %}
						<section>
							{% endif %}
					{% if page.img %}
					<div class="image"><img src="images/{{ page.img }}" alt="{{ page.imgalt }}" data-position="center center" /></div>
					<div class="content">
					{% endif %}
					<div class="inner">
						{% if page.display-title %}
						<h2>{{ page.title }}</h2>
						{% endif %}

						{{ page.content }}

					</div>
					{% if page.img %}
					</div><!-- end of content div -->
					{% endif %}
					{% if page.style contains "spotlights" %}
						<section>
							{% endif %}
				</section>
				{% endif %}
				{% endfor %}





			</div>
