<p>Always happy to talk about education, technology, music and living in Brittany.</p>
<p>Il est toujours heureux de parler d'éducation, de technologie, de musique et de la vie en Bretagne.</p>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-graduation-cap fa-lg main-list-item-icon"></span>
        <a href="https://consulting.berthelemy.net">Mark Berthelemy Consulting</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
        <a href="https://faouetinformatique.net">Faouët Informatique</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-comments fa-lg main-list-item-icon"></span>
        <a href="https://coaching.berthelemy.net">Coaching</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-music fa-lg main-list-item-icon"></span>
        <a href="https://musique.berthelemy.net">Music teaching</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-photo-film fa-lg main-list-item-icon"></span>
        <a href="https://nestledinbrittany.org.uk">Nestled in Brittany</a>
      </li>
      </ul>
      <hr class="mt-1 mb-1">
      <ul class="fa-ul main-list">
      <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/markberthelemy/">LinkedIn</a>
      </li>
      <li class="main-list-item">
        <span class="fa-brands fa-bluesky fa-lg main-list-item-icon"></span>
        <a href="https://bsky.app/profile/markberthelemy.bsky.social">BlueSky</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
        <a href="mailto:mark@berthelemy.net">mark@berthelemy.net</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-phone fa-lg main-list-item-icon"></span>
        <a href="tel:+33662646657">+33 (0)6 62 64 66 57</a>
      </li>
      <li class="main-list-item">
        <span class="fa fa-calendar fa-lg main-list-item-icon"></span>
        <a data-cal-link="markberthelemy/25-minute-call" data-cal-namespace="25-minute-call" data-cal-config='{"layout":"month_view"}' href="#">Book a meeting</a>
      </li>
  
  
</ul>