
    <head>
        <title>{{ site.title }} > {{ page.title }}</title>
        <meta name=”description” content="{{ site.description }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <!--Insert OG Markup -->

        <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
        <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ site.title }}" />

        <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ site.description }}" />

        <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://mark.berthelemy.net/images/mark-wide.png" />

        <meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ site.url }}" />



        <link rel="stylesheet" href="/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>

        <link rel="stylesheet" href="/assets/css/overrides.css" />

    </head>
