
    <head>
        <title>Mark Berthelemy</title>
        <meta name=”description” content=”Helping organisations find, implement and use technology solutions for teaching and learning”>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <!--Insert OG Markup -->

        <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
        <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Mark Berthelemy" />

        <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Helping organisations find, implement and use technology solutions for communication, teaching and learning." />

        <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://mark.berthelemy.net/images/helloquence-5fNmWej4tAA-unsplash-1024.jpg" />

        <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://mark.berthelemy.net" />



        <link rel="stylesheet" href="assets/css/main.css" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        
        <link rel="stylesheet" href="assets/css/overrides.css" />

    </head>