<!-- Scripts -->
            <script src="/assets/js/jquery.min.js"></script>
            <!--
            <script src="/assets/js/jquery.scrollex.min.js"></script>
            <script src="/assets/js/jquery.scrolly.min.js"></script>
          -->
            <script src="/assets/js/browser.min.js"></script>
            <script src="/assets/js/breakpoints.min.js"></script>
            <script src="/assets/js/util.js"></script>
            <script src="/assets/js/main.js"></script>
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
            <script src="/assets/js/menu-toggle.js"></<script>

            </script>

<script>
  jQuery(document).ready(function($) {
    $(".all-portfolios").isotope({
      itemSelector: '.single-portfolio',
      layoutMode: 'fitRows',
    });

    $('div.filter button').click(function() {

      $("div.filter button").removeClass("active");
      $(this).addClass("active");

      var selector = $(this).attr('data-filter');
      $(".all-portfolios").isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false,
        }
      });
      return false;
    });

    $("a.tag-link").click(function() {

      $("a.tag-link").removeClass("active");
      $(this).addClass("active");

      var selector = $(this).attr('data-filter');
      $(".all-portfolios").isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false,
        }
      });
      return false;
    });


  });
</script>




<script>
              /*
            $(document).ready(function(){
                $('.l1').click(function(e) {
                    e.preventDefault();
                    $("section#intro").focus();
                    });
                $('.l2').click(function(e) {
                    e.preventDefault();
                    $("section#about").focus();
                    });
                $('.l3').click(function(e) {
                    e.preventDefault();
                    $("section#services").focus();
                    });
                $('.l4').click(function(e) {
                    e.preventDefault();
                    $("section#testimonials").focus();
                    });
                $('.l5').click(function(e) {
                    e.preventDefault();
                    $("section#philosophy").focus();
                    });
                $('.l6').click(function(e) {
                    e.preventDefault();
                    $("section#contact").focus();
                    });

            });
            */
            </script>
