<!-- Scripts -->
            <script src="/assets/js/jquery.min.js"></script>
            <!--
            <script src="/assets/js/jquery.scrollex.min.js"></script>
            <script src="/assets/js/jquery.scrolly.min.js"></script>
          -->
            <script src="/assets/js/browser.min.js"></script>
            <script src="/assets/js/breakpoints.min.js"></script>
            <script src="/assets/js/util.js"></script>
            <script src="/assets/js/main.js"></script>
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
            <script src="/assets/js/menu-toggle.js"></script>

            {% if page.datatable %}
              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
              <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/rg-1.1.2/datatables.min.js"></script>
              <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
              <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
              <script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.3.0/css/rowGroup.dataTables.min.css"></script>
              <script>
              $(document).ready( function () {
                  $('table').DataTable({
                    "dom": '<f<t>ip>',
                  {%- if page.tableRowgroup -%}
                    "columnDefs": [
                      {
                        "targets": {{ page.tableRowgroup }},
                        "visible": false,
                        "searchable": true
                      }
                    ],
                    "rowGroup": {
                      "dataSrc": {{ page.tableRowgroup }}
                    },
                  {%- endif -%}
                  {%- if page.tablePagination -%}
                    "paging": true
                  {%- else -%}
                    "paging": false
                  {%- endif -%}
                  {%- if page.order -%}
                    ,"order": [[{{ page.order }}, 'asc']]
                  {%- endif -%}
                    ,"searching": true
                    } );
                  });
              </script>
            {% endif %}

            {% if page.layout == 'post' %}
              <script type="text/javascript" data-text="{{ page.title }}" src="/assets/js/js-to-png.js"></script>
            {% endif %}






<script>
  jQuery(document).ready(function($) {
    $("#wrapper a[href^='https://']").attr("target","_blank");
    $(".all-portfolios").isotope({
      itemSelector: '.single-portfolio',
      layoutMode: 'fitRows',
    });

    $('div.filter button').click(function() {

      $("div.filter button").removeClass("active");
      $(this).addClass("active");

      var selector = $(this).attr('data-filter');
      $(".all-portfolios").isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false,
        }
      });
      return false;
    });

    $("a.tag-link").click(function() {

      $("a.tag-link").removeClass("active");
      $(this).addClass("active");

      var selector = $(this).attr('data-filter');
      $(".all-portfolios").isotope({
        filter: selector,
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false,
        }
      });
      return false;
    });


  });

  {% if page.datatable == 'bibliography' %}
  $('#bibliography').dataTable({
    dom: 'lfrtip',
    "responsive": { breakpoints: [
        { name: 'desktop', width: Infinity },
        { name: 'tablet',  width: 1024 },
        { name: 'phone',   width: 768 }]},
    "paging": false,
    "order": [[ 0, "asc" ]],

    "rowGroup": true,
    "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": true,
                "orderable": false,
                "responsivePriority": 1
            },
            {
                "targets": [ 1 ],
                "width": "30%",
                "orderable": false,
                "className": "all"
            },
            {
                "targets": [ 2 ],
                "width": "20%",
                "orderable": false,
                "className": "min-desktop"
            },
            {
                "targets": [ 3 ],
                "orderable": false,
                "className": "all"
            },
            {
                "targets": [ 4 ],
                "width": "10%",
                "orderable": false,
                className: 'dt-body-right',
                "className": "min-desktop"
            }
        ]
  });
  {% endif %}
  {% if page.datatable == 'curriculum-table' %}
  $('#curriculum-table').dataTable({
    dom: 'lfrtip',
    "responsive": true,
    "paging": false,
    "order": [[ 0, "asc" ]],


  });
  {% endif %}
</script>




<script>
              /*
            $(document).ready(function(){
                $('.l1').click(function(e) {
                    e.preventDefault();
                    $("section#intro").focus();
                    });
                $('.l2').click(function(e) {
                    e.preventDefault();
                    $("section#about").focus();
                    });
                $('.l3').click(function(e) {
                    e.preventDefault();
                    $("section#services").focus();
                    });
                $('.l4').click(function(e) {
                    e.preventDefault();
                    $("section#testimonials").focus();
                    });
                $('.l5').click(function(e) {
                    e.preventDefault();
                    $("section#philosophy").focus();
                    });
                $('.l6').click(function(e) {
                    e.preventDefault();
                    $("section#contact").focus();
                    });

            });
            */
            </script>

<script>
  // accordion

//  var acc = document.getElementsByClassName("accordion");
//  var i;

// for (i = 0; i < acc.length; i++) {
//  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
//    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
//    var panel = this.nextElementSibling;
//    if (panel.style.display === "block") {
//      panel.style.display = "none";
//    } else {
//      panel.style.display = "block";
//    }
//  });
//}
var accordions = document.getElementsByClassName("accordion");

for (var i = 0; i < accordions.length; i++) {
  accordions[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
    hideAll(this);
  };
}

function hideAll(exceptThis) {
  for (var i = 0; i < accordions.length; i++) {
    if (accordions[i] !== exceptThis) {
      accordions[i].classList.remove("active");
      accordions[i].nextElementSibling.style.display = "none";
    }
  }
}


</script>
