<!-- Sidebar -->
            <section id="sidebar">
                <div class="inner">
                    <nav>
                        <ul>
                            <li><a class="l1" href="#intro">Welcome</a></li>
                            <li><a class="l2" href="#about">About me</a></li>
                            <li><a class="l3" href="#services">What I do</a></li>
                            <li><a class="l4" href="#testimonials">Testimonials</a></li>
                            <li><a class="l5" href="#philosophy">Philosophy</a></li>
                            <li><a class="l6" href="#contact">Get in touch</a></li>
                            <!-- l1 etc are to allow automated tabbing -->
                        </ul>
                    </nav>
                </div>
            </section>