<!-- Menu -->
                <section id="sidebar">
                  <div class="inner">
                    <nav>
                        <ul>
                            <li><a class="lx" href="/">Welcome</a></li>
                            <li><a class="lx" href="/services">Services</a></li>
                            <li><a class="lx" href="/about">About me</a></li>
                            <li><a class="lx" href="/portfolio">Portfolio</a></li>
                            <li><a class="lx" href="/articles">Articles</a></li>
                            <li><a class="lx" href="/training">Training</a></li>
                            <li><a class="lx" href="/contact">Contact</a></li>
                            <!-- l1 etc are to allow automated tabbing -->
                        </ul>
                    </nav>
                </div>
            </section>
