<!-- Footer -->
                <hr>
               <p class="centred"><a href="{{ site.baseurl }}/cookies">Cookie policy</a></p>
                        
                    <p class="centred"> <a href="{{ site.baseurl }}/privacy">Privacy policy</a></p>
                   
                    
                    
                 
                        
                
           
            
                <p class="centred">SIREN: <a href="https://data.inpi.fr/entreprises/848166443" target="_blank">848166443
                </a></p>
                <p class="centred">&copy; <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script>&nbsp;Mark Berthelemy. All rights reserved.</p>

               