<!-- Menu -->
                
                  <!--<button
                     id="nav-main-toggle"
                     class="nav-toggle"
                     aria-label="Menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                    <span>Menu</span>
                  </button>-->
                  

                    <nav class="container" aria-label="Main menu">
                      <ul>
                        <li><strong>Mark Berthelemy</strong></li>
                      </ul>
                      <input class="menu-btn" type="checkbox" id="menu-btn" />
                      <label class="menu-icon" for="menu-btn">
                        <span class="nav-icon" style="font-size: 1.8em">&#x2261;</span>
                      </label>
                      
                        <ul class="menu" aria-labelledby="site-nav-heading">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li>
                              <details class="dropdown">
                                <summary>
                                  Account
                                </summary>
                                <ul>
                                  <li><a href="#">Profile</a></li>
                                  <li><a href="#">Settings</a></li>
                                  <li><a href="#">Security</a></li>
                                  <li><a href="#">Logout</a></li>
                                </ul>
                              </details>
                            
                            </li>
                  
                            <li><a href="/testimonials">Testimonials</a></li>
                            <li><a href="/articles">Articles</a></li>
                            <li><a href="/contact">Contact</a></li> 
                        </ul>
                    </nav>
                    <!--<a href="#main-menu-toggle"
                       class="backdrop"
                       tabindex="-1"
                       aria-hidden="true" hidden></a>-->
              