<!-- Footer -->
            
                <nav>
                    <ul>
                        <li>&copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script>&nbsp;Mark Berthelemy. All rights reserved.</li>
                        <li>Design: <a href="https://simple.css">Simple CSS</a></li>
                        <li><a href="{{ site.baseurl }}/cookies">Cookie policy</a></li>
                        <li><a href="{{ site.baseurl }}/privacy">Privacy policy</a></li>
                    </ul>
                </nav>