<!-- Footer -->
                <p>&copy; <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script>&nbsp;Mark Berthelemy. All rights reserved.</p>
                <nav>
                    <ul>
                        <li>Design: <a href="https://simple.css">Simple CSS</a></li>
                        <li><a href="{{ site.baseurl }}/cookies">Cookie policy</a></li>
                        <li><a href="{{ site.baseurl }}/privacy">Privacy policy</a></li>
                    </ul>
                </nav>
                <p>SIRET: <a href="https://data.inpi.fr/entreprises/848166443" target="_blank">84816644300012
                </a></p>