p.strapline {
    margin-bottom: 0.05rem;
}

.float-right {
            float: right;
        }

.center {
    text-align: center;
}

.links {
    width: 33%;
    text-align: center;
}

div.policy {
    text-align: left;
}

label {
    text-transform: none;
}

label.caps {
    text-transform: uppercase;
}

#bg:after {
            
            background-image: url("../../images/rodion-kutsaev-1382592-unsplash.jpg");
            
        }

.image-credits {
    background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px}

.img-credit {
        font-size: 0.75rem;
        text-align: right;
        margin-top: -40px;
    }

address {
    margin-bottom: 20px;
}