body, input, select, textarea {
    color: rgba(255, 255, 255, 0.85);
}

#ribbon {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

#ribbon a {
    border-bottom: none;
}

input[type="checkbox"] + label {
    color: rgba(255, 255, 255, 0.85);
}

#footer > .inner .menu {
    color: rgba(255, 255, 255, 0.75);
}

a:focus, #sidebar nav a:focus, input:focus {
        outline: dotted #fff;
        color: rgba(255, 255, 255, 0.95);
    }



#sidebar nav a {
    color: rgba(255, 255, 255, 0.65);                    
    }

#sidebar nav a:hover {
    color: rgba(255, 255, 255, 0.95);
}