body, input, select, textarea {
    color: rgba(255, 255, 255, 0.85);

#footer > .inner .menu {
    color: rgba(255, 255, 255, 0.75);
}

a:focus, #sidebar nav a:focus {
        outline: dotted #fff;
        color: rgba(255, 255, 255, 0.55);
    }