header#main-header {
    background-image: url("/assets/img/page-images/background-dots.png");
    height: 150px;
    background-size: contain;
    background-repeat: repeat-y;
}

header#main-header h1 {
    color: #fff;
}

div.grid>a:has(button) {
    margin-left: auto;
    margin-right: auto
}

div#cta {
    margin-top: var(--pico-spacing);
}

div.single-portfolio {
    width: 33%; /* fix for isotope */
}

footer {
    font-size: 80%;
}

footer h2 {
    font-size: 80%;
}

p.centred {
    text-align: center;
}

footer>div.grid div:first-child {
    border-right: 1px solid var(--pico-muted-color);
    padding-right: var(--pico-spacing);
}

footer>div.grid div:last-child {
    border-left: 1px solid var(--pico-muted-color);
    padding-left: var(--pico-spacing);
}



body>header {
    /* usefule when "position: fixed" is turned-on */
    padding-top: 100px;
    height:180px;
  }

  nav#main-menu {
    border-bottom: 1px solid var(--pico-muted-color);
  }
  
  nav#main-menu.container-fluid {
      background-color: var(--pico-background-color);
    position: fixed;
    /* remove the 'flex-direction' to move menu to the right */
    /*flex-direction: row-reverse;*/
      z-index: 1;
      overflow: hidden;
      align-items: center;
  }
  
  nav :is(.menu-btn, .menu-icon) {
      display: none;
      cursor: pointer;
      user-select: none;
  }

div.button-group {
    width: 100%;
    overflow-x: auto;
}

  .tag-link {
    background-color:var(--pico-primary-background);
    border: none;
    color:var(--pico-primary-inverse);
    font-size: .75rem;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 2px;
    border-radius: 3px;
  }
  
  @media (width < 48em) {
    body>header {
       padding-top: 120px;
       height: 180px;
      }
      nav#main-menu.container-fluid {
        font-size: 1.7rem;  
        flex-wrap: wrap;
          & .menu-icon {
              display:block;
          }
          & >ul.menu {
              flex-direction: column;
              align-items:flex-start;
              width: 100%;
              max-height: 0;
              transition: max-height 0.3s ease-out;
        box-shadow: 0px 3px 8px;
        margin: 10px 10px;
        background-color: var(--pico-background-color);
        & li {
          width: 100%;
        }
        & a {
          display: block;
        }
        & a:hover {
          background-color: var(--pico-primary-hover-background);
        }
          }
      & .menu-btn:checked ~ .menu {
        max-height: 100vh;
      }
      }
      footer>div.grid div:first-child {
        border-right: none;
        padding-right: inherit;
    }
    
    footer>div.grid div:last-child {
        border-left: none;
        padding-left: inherit;
    }
    div.single-portfolio {
        width: inherit; /* fix for isotope */
    }
  }