html {
    scroll-padding-top: 4rem;
  }

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container-75 {
    width: 70%; /* Fix for when using a right hand menu */
}

header#main-header {
    background-image: url("/assets/img/page-images/background-dots.png");
    /*height: 4rem;*/
    background-size: contain;
    background-repeat: repeat-y;
    padding: 1rem;
}

header#main-header h1 {
    color: #fff;
}

div.grid>a:has(button) {
    margin-left: auto;
    margin-right: auto
}

div#cta {
    margin-top: var(--pico-spacing);
}

div.single-portfolio {
    width: 27%; /* fix for isotope */
}

div.button-group button.active {
    z-index: -10; /* Fix for menu button going over header */
}

footer {
    font-size: 80%;
}

footer h2 {
    font-size: 80%;
}

p.centred {
    text-align: center;
}

footer>div.grid div:first-child {
    border-right: 1px solid var(--pico-muted-color);
    padding-right: var(--pico-spacing);
}

footer>div.grid div:last-child {
    border-left: 1px solid var(--pico-muted-color);
    padding-left: var(--pico-spacing);
}



body>header {
    /* usefule when "position: fixed" is turned-on */
    padding-top: 100px;
    /*height:180px;*/
  }

  nav#main-menu {
    border-bottom: 1px solid var(--pico-muted-color);
  }
  
  nav#main-menu.container {
      background-color: var(--pico-background-color);
    /*position: fixed;*/
    /* remove the 'flex-direction' to move menu to the right */
    /*flex-direction: row-reverse;*/
      z-index: 1;
      overflow: hidden;
      align-items: center;
  }
  
  nav :is(.menu-btn, .menu-icon) {
      display: none;
      cursor: pointer;
      user-select: none;
  }

div.button-group {
    width: 100%;
    overflow-x: auto;
}

  .tag-link, .category-tag {
    background-color:var(--pico-primary-background);
    border: none;
    color:var(--pico-primary-inverse);
    font-size: .75rem;
    padding: calc(var(--pico-spacing)/3) var(--pico-spacing) calc(var(--pico-spacing)/3) var(--pico-spacing);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: calc(var(--pico-spacing)/2) var(--pico-spacing) calc(var(--pico-spacing)/2) 0;
    border-radius: 3px;
  }

  article.tool h2 {
    font-size: var(--pico-spacing);
    margin-bottom: var(--pico-spacing);
}

aside.floating-menu {
    float:right;
    top: 8rem;
    right: calc(4*var(--pico-spacing));
    width: 25%;
    margin-bottom: var(--pico-spacing);
    background-color: var(--pico-background-color);
    filter: drop-shadow(2px 3px 2px var(--pico-primary-background));
}

aside.floating-menu {
  padding-inline-start: var(--pico-spacing);
}

article.services footer {
  height: 40vh;
}

div.banner {
  object-fit: cover;
  /*margin-bottom: var(--pico-spacing);*/
  margin: 0;
  height: 20vw;
  overflow: hidden;
}


/* MOBILE VIEW */

  @media (width < 48em) {
    body>header {
       padding-top: 120px;
       /*height: 180px;*/
      }
    header#main-header {
        box-sizing: content-box;
        width:90%;
        /*height: 2rem;*/
        padding: 1rem;
    }
    div.container-75 {
        width: 100%;
    }
      nav#main-menu.container {
        font-size: 1.7rem;  
        flex-wrap: wrap;
          & .menu-icon {
              display:block;
          }
          & >ul.menu {
              flex-direction: column;
              align-items:flex-start;
              width: 100%;
              max-height: 0;
              transition: max-height 0.3s ease-out;
        box-shadow: 0px 3px 8px;
        margin: 10px 10px;
        background-color: var(--pico-background-color);
        & li {
          width: 100%;
        }
        & a {
          display: block;
        }
        & a:hover {
          background-color: var(--pico-primary-hover-background);
        }
          }
      & .menu-btn:checked ~ .menu {
        max-height: 100vh;
      }
      }
      footer>div.grid div:first-child {
        border-right: none;
        padding-right: inherit;
    }
    
    footer>div.grid div:last-child {
        border-left: none;
        padding-left: inherit;
    }
    div.single-portfolio {
        width: 100%; /* fix for isotope */
    }
    aside.floating-menu {
        display:none;
    }
  }

