header#main-header {
    background-image: url("/assets/img/page-images/background-dots.png");
    height: 150px;
    background-size: contain;
    background-repeat: repeat-y;
}

header#main-header h1 {
    color: #fff;
}

footer {
    font-size: 80%;
}

footer h2 {
    font-size: 80%;
}

p.centred {
    text-align: center;
}

footer>div.grid:first-child {
    border-right: 1px solid var(--pico-muted-color);
}

footer>div.grid:last-child {
    border-left: 1px solid var(--pico-muted-color);
}



body>header {
    /* usefule when "position: fixed" is turned-on */
    padding-top: 100px;
    height:180px;
  }

  nav#main-menu {
    border-bottom: 1px solid var(--pico-muted-color);
  }
  
  nav#main-menu.container-fluid {
      background-color: var(--pico-background-color);
    position: fixed;
    /* remove the 'flex-direction' to move menu to the right */
    /*flex-direction: row-reverse;*/
      z-index: 1;
      overflow: hidden;
      align-items: center;
  }
  
  nav :is(.menu-btn, .menu-icon) {
      display: none;
      cursor: pointer;
      user-select: none;
  }
  
  @media (width < 48em) {
    body>header {
       padding-top: 120px;
       height: 180px;
      }
      nav#main-menu.container-fluid {
        font-size: 1.7rem;  
        flex-wrap: wrap;
          & .menu-icon {
              display:block;
          }
          & >ul.menu {
              flex-direction: column;
              align-items:flex-start;
              width: 100%;
              max-height: 0;
              transition: max-height 0.3s ease-out;
        box-shadow: 0px 3px 8px;
        margin: 10px 10px;
        background-color: var(--pico-background-color);
        & li {
          width: 100%;
        }
        & a {
          display: block;
        }
        & a:hover {
          background-color: var(--pico-primary-hover-background);
        }
          }
      & .menu-btn:checked ~ .menu {
        max-height: 100vh;
      }
      }
  }