---
layout: default
---
<p>Level: {{ page.level }}</p>

<ul>
    <li><strong>Novice</strong>: Zero or very little experience in this subject area</li>
    <li><strong>Intermediate</strong>: Has done some work in this area</li>
    <li><strong>Advanced</strong>: Has done a lot of work in this area</li>
</ul>

{{ content }}

<p>To receive feedback and ask questions, join my coaching programme.</p>

<h2>Related lessons</h2>

{%- assign category = page.category -%}
{%- for lesson in site.lessons | where: "category",category -%}
<h3><a href="{{ lesson.url }}">{{ lesson.title }}</a></h3>
<p>Level: {{ lesson.level }}</p>
{%- endfor -%}