---
layout: simple_default
---
<div class="grid">
  <div><article>
    <header><p class="centred">Redirecting in <span id="seconds">5</span> seconds to the new location at <a id="url" href="">Kerizac.com</a></p></header>
    <img width="33%" src="/assets/img/homepage/kerizac-logo.svg" alt="Kerizac Consulting logo">
  </article>

</div>
</div>

<script>function getCurrentPath () {
  return window.location.pathname;
}

// Example
const link = document.getElementById("url")
  path = getCurrentPath();
newpath = path.replace(/\/$/, "");
const newurl = "https://kerizac.com" + newpath;
link.setAttribute('href',newurl);

// Countdown timer for redirecting to another URL after several seconds

var seconds = 5; // seconds for HTML
var foo; // variable for clearInterval() function

function redirect() {
  document.location.replace(url);
}

function updateSecs() {
  document.getElementById("seconds").innerHTML = seconds;
  seconds--;
  if (seconds == -1) {
      clearInterval(foo);
      redirect();
  }
}

function countdownTimer() {
  foo = setInterval(function () {
      updateSecs()
  }, 1000);
}

countdownTimer();

</script>


<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/articles">Articles</a></li>
    <li>{{ page.title }}</li>
  </ul>
</nav>
{%- if page.img -%}
<aside>
  <img src="/post-images/{{ page.img }}" alt="{{ page.imgalt }}">
  {%- if page.imgcredit -%}
  {%- if page.imgurl -%}
  <p><small>Image credit: <a href="{{ page.imgurl }}" target="_blank">{{ page.imgcredit }}</a></small></p>
  {%- else -%}
  <p><small>Image credit: {{ page.imgcredit }}</small></p>
  {%- endif -%}
  {%- endif -%}
</aside>
{%- endif -%}
{{ content }}

<hr />
<p><strong>Posted:</strong> {{ page.date | date_to_long_string }}</p>
<p>Tags: {% for tag in page.tags %}
<span class="tag-link">{{ tag }}</span>
{% endfor %}</p>

<h3>Related articles</h3>
<ul>
{% assign maxRelated = 6 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="tag-link">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</ul>

  					