---
layout: simple_default
---
{{ content }}

<hr>
<h3>Related resources</h3>

<ul>
{%- for resource in site.resources -%}
{%- if resource.category == page.category -%}
{%- if resource.url != page.url -%}

<li><a href="{{ resource.url }}">{{ resource.title }}</a></li>

{%- endif -%}
{%- endif -%}
{%- endfor -%}
</ul>



<hr>
{%- if page.previous.url -%}
    <div>Previous lesson: <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div>
{%- endif -%}
{%- if page.next.url -%}
        <div>Next lesson: <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></div>
{%- endif -%}