---
layout: simple_default
---
<div class="banner">
  <img src="/assets/img/page-images/{{ page.img }}" alt="{{ page.img-alt }}">
</div>
<nav aria-label="breadcrumb">
    <ul>
      <li><a href="/services">Services</a></li>
      <li>{{ page.title }}</li>
    </ul>
  </nav>


<p>{{ page.description }}</p>

{{ content }}

Image credit: <a href="{{ page.img-credit-url }}" target="_blank">{{ page.img-credit }}</a>

<hr>

<h3>Other services</h3>

<ul>
{%- for service in site.services -%}
{%- if service.url != page.url -%}

<li><a href="{{ service.url }}">{{ service.title }}</a></li>

{%- endif -%}
{%- endfor -%}
</ul>

<hr>

{% include cta.html %}
