<!DOCTYPE HTML>

<html lang="en">
    {% include simple_head.html %}
    <body>
        
            {% include simple_nav.html %}
        
        <header id="main-header" class="container">
            <h1>{{ page.title }}</h1>
        </header>
        <main class="container">
            <!--<nav aria-label="breadcrumb">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li>Design</li>
                </ul>
              </nav>-->
            
                     
            {{ content }}
            
        </main>      
        <footer class="container">
            {% include simple_footer.html %}
        </footer>
    
        
        


        {% include piwik.html %}
        {% include scripts.html %}

    </body>
</html>
