<!DOCTYPE HTML>

<html lang="en">
    {% include simple_head.html %}
    <body>
        <nav class="container-fluid">
            {% include simple_nav.html %}
        </nav>
        <header>
            
            <p>{{ site.simple_description }}</p>
            
        </header>
        <main class="container">
            <h1>{{ site.title }}</h1>
            
            <h2>{{ page.title }}</h2>
            
            {{ content }}
            
        </main>      
        <footer>
            {% include simple_footer.html %}
        </footer>
    
        
        


        {% include piwik.html %}
        {% include scripts.html %}

    </body>
</html>
