---
layout: simple_default
---
<nav aria-label="breadcrumb">
    <ul>
      <li><a href="/toolkit">Toolkit</a></li>
      <li>{{ page.category }}</li>
      <li>{{ page.title }}</li>
    </ul>
  </nav>
<div class="grid">
    <div>
        <h2>Summary</h2>
        <p>{{ page.description }}</p>
    </div>
    
        <div>
        <img src="/assets/img/page-images/{{ page.img }}" alt="{{ page.img-alt }}" />
        <p><small>Image credit: <a href="{{ page.img-url }}" target="_blank">{{ page.img-credit }}</a></small></p>
        </div>
</div>
<hr>
{{ content }}

<hr>
<h3>Related resources</h3>

<ul>
{%- for resource in site.resources -%}
{%- if resource.category == page.category -%}
{%- if resource.url != page.url -%}

<li><a href="{{ resource.url }}">{{ resource.title }}</a></li>

{%- endif -%}
{%- endif -%}
{%- endfor -%}
</ul>



<hr>
{%- if page.previous.url -%}
    <div>Previous lesson: <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div>
{%- endif -%}
{%- if page.next.url -%}
        <div>Next lesson: <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></div>
{%- endif -%}